/* Se elimina el margen y el relleno de todos los elementos HTML,  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* El width y el height incluyen el padding y el border, pero no el margin */
    font-family: Arial, Helvetica, sans-serif;
}
/* SECTION-UNO */
/* se añade y se especifica el tamaño de la imagen de fondo para el cuerpo del documento */
body {
    background-color: #1d8dc2;
    background-size: 100%;
}
/* estilo al encabezado del documento */
header {
    background-color: rgba(25, 27, 25,0.3);
    height: 40px;
    color: white;
}
/* estilo a la caja contendora del header */
.box-table {
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    background-color: rgba(255, 255, 255,0.3);
    width: 130px;
    height: 30px;;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
/* estilo al logo de Trello */
.box-table span {
    margin-right: 10px;
}
/* estilo a la caja de búsqueda */
.box-search {
    background-color: rgba(255, 255, 255,0.3);
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 10px;
}
/* estilo al ícono de lupa de la caja de búsqueda */
.box-search i {
    margin-right: 10px;
    position: relative;
    top: 5px;
    }
/* estilo a la caja contenedora donde el usuario hace su búsqueda */
.box-search input {
    outline: none;
    border: none;
    background: transparent;
    height: 25px;
}
/* estilo al logo del encabezado */
header img {
    width:70px;
}
 /* estilo al tag figure que contiene la imagen del logo de Trello */
header figure {
    width: 100px;
    height: 30px;
    margin: 5px 0 0px 25%;
}
/* estilo al enbcabezado izquierdo y derecho, tag figure (tablero, estrella, candado y privado) y caja de búsqueda */
.header-left, .header-rigth, header figure, .box-input-search {
    float: left;
    height: 40px;
}
/* estilo a las lista ordenadas del encabezado derecho */
.header-rigth li {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px 2.5px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 5px;
}
/* estilo a las lista ordenadas del encabezado derecho */
.header-rigth {
    margin-left: 400px;
}
/* estilo cuando pase el cursor por el encabezado derecho */
.header-rigth a:hover {
    color: white;
    cursor: pointer;
}
/* estilo a la foto de usuario */
.photo-user img {
    border: 2px solid white;
    border-radius: 17.5px;
    height: 35px;
    right: 13px;
    position: absolute;
    top: 3px;
    width: 35px;
  }
/* SECTION-DOS */
/* estilo al texto de la caja contenedora de tablero, privado y mostrar menu */
.box-title-table {
    color: white;
    margin: 10px;
}
/* estilo a las listas ordenadas de la seccion box-title-table */
.box-title-table li {
    display: inline-block;
    margin:0px 5px;
    box-sizing: content-box;
    padding: 5px;
}
/* estilo al menú */
.text-menu {
    float: right;
}
/*estilo al enlace de mostrar menu*/
.text-menu a {
    color: white;
}
/* estilo al tablero */
.title-bold{
    font-weight: 700;
}
/* estilo cuando pase el cursor sobre la caja contendora de las listas ordenadas del tablero */
.box-title-table li:hover {
    background-color:rgba(25, 27, 25,0.5);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
}
/* SECTION-TRES */
/*sección de la caja contenedora despegable. Su funcionalidad será llamada desde JS */
/* estilo a la caja contenedora de "añadir lista" */
.box-list {
    width: 270px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(25, 27, 25,0.3);
    color: #b8dec3;
    padding: 10px;
    font-size: 14px;
    float: left;
}
/* estilo cuando pase el cursor a la caja contenedora desplegable de "añadir lista" y caja contendora de las listas ordenadas del tablero */
.box-list:hover {
    background-color:rgba(25, 27, 25,0.5);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
}
/* estilo a la caja despegable "añadir lista" (baja al darle clic) */
.box-form {
    width: 270px;
    height: auto;
    background-color: #e2e4e6;
    border-radius: 5px;
    margin:10px;
    float: left;
}
/* estilo a la caja despegable "añadir lista" */
.box-form-list {
    height: auto;
    width: 270px;
    background-color: #e2e4e6;
    border-radius: 5px;
    margin:10px;
    float: left;
}
/* estilo al área de texto de la caja desplegable "añadir lista" */
.text-area-style {
    width: 250px;
    height: 66px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    padding: 10px;
    outline: none;
    resize: none;
}
 /* estilo a la caja donde el usuario ingresa la información */
.input-style {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    margin: 5px;
    background-color: #d6d8da;
    padding: 10px;
    box-shadow: inset 0 0 15px 0 #c4c6c8;
    outline: none;
}
/* estilo a los botones Guardar y Añadir de la caja desplegable "añadir lista" */
.btn-style {
    width:90px;
    height: 40px;
    background-color: #5aac44;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
/* estilo al "tache" de la caja desplegable "añadir lista" */
.btn-close-style {
    font-size: 30px;
    display: inline-block;
    color: #999999;
    margin-left: 5px;
    position: relative;
    top: 5px;
}
/* estilo cuando pase el cursor a los botones Guardar y Añadir de la de la caja desplegable "añadir lista" */
.btn-style:hover {
    background-color: #4d9439;
}
/* Estilo a la caja despegable de fondo blanco de "añadir lista"*/
.item-list-style {
    background-color: white;
    width: 250px;
    height: auto;
    border-radius: 4px;
    margin: 10px;
    font-size: 14px;
    padding: 10px;
    color: #4d4d4d;
    /* La propiedad de ajuste de palabras permite que las palabras largas se rompan y se envuelven en la siguiente línea */
    /* break-word, permite romper palabras irrompibles */
    word-wrap: break-word;
}
/* estilo cuando pase el cursor a la caja despeglable con fondo blanco de "añadir lista"*/
.item-list-style:hover {
    background-color: #d8dadb;
    cursor: pointer;
}
/* estilo al texto de la caja desplegable "añadir lista" */
.title-style {
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
}
/* estilo a la caja despegable "añadir lista"*/
.box-input-style {
    padding: 10px;
    font-size: 14px;
   color: #9ea2a3;
}
/* estilo cuando pase el cursor a la segunda caja desplegable de "añadir lista" */
.box-input-style:hover {
    background-color: rgb(211, 209, 209);
    width: inherit;
    text-decoration: underline rgb(105, 105, 105);
    color: rgb(105, 105, 105);
    cursor: pointer;
}
